@import './menu.scss';
@import './radio.scss';
@import './input.scss';
@import './variables.scss';
@import './checkbox.scss';
@import './select.scss';
@import './animation.scss';
@import './tabs.scss';
@import './card.scss';
@import './shadow.scss';
@import './button.scss';
@import './form.scss';
@import './switch.scss';
@import './counter.scss';
@import './pagination.scss';
@import './progress.scss';
@import './table.scss';

*{
  margin: 0;
  padding: 0;
  outline: none;
}

.is-active{
  background-color: $color-main;
  color: #fff;
}

ul{
  list-style: none;
}

.is-left {
  text-align: left;
}

.is-center {
  text-align: center;
}

.is-right {
  text-align: right;
}
